@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}
body{
    background: #011627;
}
.main{
    width: 1200px;
    margin: 0 auto;    
}

.main .text-top{
    color: #fff;
    font-weight: 500;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 5rem;    
}
/* ============================================================= */
.main-container{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background: #aaa;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.main-container .tank{
    width: 300px;
    height: 400px;
    background: #Ff4762;
    margin-bottom: 1rem;
    text-align: center;
    position: relative;
}
.main-container .tank .tank-name{
    background: cornflowerblue; 
    padding: .5rem .5rem;
    width: 90%;
    margin: 0 auto;
}
.main-container .tank .img-container{
    width: 80%;
    height: 70%;
    margin: 2rem auto;
    background: #011627;
}
/* ============================================ */
.main-container .tank-info-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 1rem;
    width: 100vh;
    height: 80vh;
    background: #777;
    z-index: 50;
}
.main-container .tank-info-popup .close-btn{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.5rem;
}
.main-container .tank-info-popup--active{
    transform: translate(-50%,-50%) scale(1);
}
.main-container .overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
    background: rgba(0,0,0,.5);
    pointer-events: none;
}
.main-container .overlay--active{
    pointer-events: all;
    opacity: 1;
}