@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}
body{
    background: #011627;
}
.main{
    /* height: 100vh; */
    width: 1200px;
    /* background: #315659; */
    margin: 0 auto;
    /* position: absolute; */
    
}
/* .tank-container{
    width: 1200px;
    height: 30rem;
    margin-top: 5rem;
    
   
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.tank-container .tank{
    height: 25rem;
    width: 33%;

    background: #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}
.tank-container .tank img{
    height: 10rem;
    width: 15rem;
    margin: auto;
}
.tank-container .tank .btn-pointer{
    color: #000;
    font-weight: 500;
    font-size: 1.7rem;
    background: #FF9F1C;
    margin-bottom: 2rem;
    padding: 1rem .5rem;
    border-radius: .5rem;
}
.tank-container .tank:hover{
    background: #ccc;
}
.tank-container .tank .btn-pointer:hover{
    color: #fff;
} */
.main .text-top{
    color: #fff;
    font-weight: 500;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 5rem;
    
}
/* ============================================================= */
.main-container{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background: #aaa;
    justify-content: space-evenly;
    align-items: center;
}
.main-container .tank{
    width: 300px;
    height: 400px;
    background: #Ff4762;
    margin-bottom: 1rem;
    text-align: center;
    position: relative;

}
.main-container .tank .tank-name{
    background: cornflowerblue; 
    padding: .5rem .5rem;
    width: 90%;
    margin: 0 auto;
}
.main-container .tank .img-container{
    width: 80%;
    height: 70%;
    margin: 2rem auto;
    background: #011627;
    /* margin-bottom: 2rem; */
}
